* {
	box-sizing: border-box;
	font-family: BlinkMacSystemFont;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	height: 100%;
}
.content-wrapper {
	display: justify;
	width: 100%;
	height: 60 px;
	margin: 0 auto;
	background-color: #d4bb7e;
}
header {
	border-bottom: 5px solid #490caa;
}
header .content-wrapper {
	display: block;
}
header h1 {
	font-family: Bookman Old Style;
display: flex;
	flex-grow: 1;
	flex-basis: 0;
	font-size: 40px;
	margin: 0;
	padding: 29px 0;
}
header nav {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: center;
	align-items: center;
}
header nav a {
	text-decoration: none;
	color: #093541;
	padding: 15px 15px;
	margin: 0 6px;
}
header nav a:hover {
	border-bottom: 3px solid rgb(116, 69, 69);
}
header .link-icons {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: flex-end;
	align-items: right;
	position: relative;
}
header .link-icons a {
	text-decoration: none;
	color: #394352;
	padding: 0 10px;
}
header .link-icons a:hover {
	color: #4e5c70;
}
header .link-icons a i {
	font-size: 25px;
}
header .link-icons a span {
	display: inline-block;
	text-align: center;
	background-color: #63748e;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-weight: bold;
	position: absolute;
	top: 22px;
	right: 0;
}
main .featured {
	display: flex;
	flex-direction: column;
	background-image: url(imgs/toycar.jpg);
	background-repeat: no-repeat;
	height:200px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
main .featured h2 {
	display: inline-block;
	margin: 0;
	width: 1050px;
	font-family: Rockwell;
	font-size: 72px;
	color: blue;
	padding-bottom: 10px;
}
main .featured p {
	display: inline-block;
	margin: 0;
	width: 1050px;
	font-size: 32px;
	font-weight: bold;
	color: yellow;
	border-bottom: 1px solid #c4bcbc;

}
main .recentlyadded h2 {
	display: block;
	font-weight: bold;
	margin: 0;
	padding: 15px 0;
	font-size: 32px;
	text-align: center;
	border-top: 1px solid #EEEEEE;
text-underline-position: below;
}
main .recentlyadded .products, main .products .products-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 43px 1 0 0;
}
main .recentlyadded .products .product, main .products .products-wrapper .product {
	display: block;
	overflow: hidden;
	text-decoration: none;
	width: 25%;
	padding-bottom: 15px;
}
main .recentlyadded .products .product img, main .products .products-wrapper .product img {
	transform: scale(1);
	transition: transform 1s;
}
main .recentlyadded .products .product .name, main .products .products-wrapper .product .name {
	display: block;
	color: #f7410a;
	padding: 20px 0 2px 0;
	font-family: sans-serif;
	font-weight: bolder;
}
main .recentlyadded .products .product .price, main .products .products-wrapper .product .price {
	display: block;
	color: #0b7232;
	font-weight: bold;
}
main .recentlyadded .products .product .rrp, main .products .products-wrapper .product .rrp {
	color: #913e3e;
	text-decoration: line-through;
}
main .recentlyadded .products .product:hover img, main .products .products-wrapper .product:hover img {
	transform: scale(1.05);
	transition: transform 1s;
}
main .recentlyadded .products .product:hover .name, main .products .products-wrapper .product:hover .name {
	text-decoration: underline;
}
main > .product {
	display: flex;
	padding: 40px 0;
	font-weight: bolder;
}
main > .product > div {
	padding-left: 15px;
}
main > .product h1 {
	font-size: 34px;
	font-weight: bolder;
	margin: 0;
	padding: 20px 0 10px 0;
	font-family: noto
}
main > .product .price {
	display: block;
	font-size: 22px;
	color: #100222;
}
main > .product .rrp {
	color: #BBBBBB;
	text-decoration: line-through;
	font-size: 22px;
	padding-left: 5px;
}
main > .product form {
	display: flex;
	flex-flow: column;
	margin: 40px 0;
}
main > .product form input[type="number"] {
	width: 400px;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid rgb(94, 71, 71);
	color: #362e2e;
	border-radius: 5px;
}
main > .product form input[type="submit"] {
	background: #a3abb8;
	border: 0;
	color: #FFFFFF;
	width: 400px;
	padding: 12px 0;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bolder;
	border-radius: 5px;
	cursor: pointer;
}
main > .product form input[type="submit"]:hover {
	background: #434f61;
}
main > .products h1 {
	display: block;
	font-weight: bold;
	color: #351111; 
	font-family:Georgia, 'Times New Roman', Times, serif;
	margin: 0;
	padding: 40px 0;
	font-size: 32px;
	text-align: center;
	width: 100%;
}
main > .products .buttons {
	text-align: right;
	padding-bottom: 40px;
}
main > .products .buttons a {
	display: inline-block;
	text-decoration: none;
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #021735;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}
main > .products .buttons a:hover {
	background: #05285c;
}
main .cart h1 {
	display: justify;
	font-weight: bolder;
	margin: 0;
	padding: 10px 0;
	font-size: 32px;
	text-align: center;
	width: 100%;
	border-bottom: 2px solid #ffffff;
}
main .cart table {
	width: 85%;
}
main .cart table thead td {
	padding: 30px 0;
	font-weight: bold;
	font-size: 25px;
	font-family: calibri;
}
main .cart table thead td:last-child {
	text-align: right;
}
main .cart table tbody td {
	padding: 20px 0;
	color:#255bac;
	border-bottom: 1px solid #EEEEEE;
}
main .cart table tbody td:last-child {
	text-align: right;
}
main .cart table .img {
	width: 90px;
	height: 60 px;
}
main .cart table .remove {
	color: #7e1313;
	font-size: 15px;
	padding-top: 3px;
}
main .cart table .remove:hover {
	text-decoration: underline;
}
main .cart table .price {
	color: #351111;
	font-weight: bolder;
	font-size:22px;
}
main .cart table a {
	text-decoration: none;
	color: #230446;
	font-weight: bolder;
	font-size: 18px;
}
main .cart table input[type="number"] {
	width: 68px;
	padding: 10px;
	border: 1px solid #ccc;
	color: #351515;
	border-radius: 5px;
}
main .cart .subtotal {
	text-align: right;
	padding: 40px 0;
}
main .cart .subtotal .text {
	padding-right: 40px;
	font-size: 22px;
}
main .cart .subtotal .price {
	font-size: 18px;
	color: #e91616;
}
main .cart .buttons {
	text-align: right;
	padding-bottom: 40px;
}
main .cart .buttons input[type="submit"] {
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #d12020;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
main .cart .buttons input[type="submit"]:hover {
	background: #939fb1;
}
main .placeorder h1 {
	display: block;
	font-weight: bold;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
body{
	background-color: #b76f20;
}
main .placeorder p {
	text-align: center;
	text-decoration: wavy;
}
footer {
	display: justify;
	bottom: 0;
	border-top: 1px solid #EEEEEE;
	padding: 20px 0;
	width: 100%;
} 